* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}

:root {
    --bg-color: #fff;
    --text-color: #323238;
    --bg-card-color: #E1E1E6;
    --text-hover-card-color: #fff;
    --bg-hover-card: #02799D;

    font-size:62.5%;

}

.flex {
    display: flex;
}

html.dark .ph-moon,
html:not(.dark) .ph-sun {
    display: none;
}

.running .ph-play-circle,
html:not(.running) .ph-pause-circle {
    display: none;
}

html.dark {
    --text-color: #fff!important;
    --bg-color: #323238!important;
    --bg-card-color: #E1E1E6!important;
    --text-hover-card-color: #fff!important;
    --bg-hover-card: #02799D!important;
}

.sr-only {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;

    margin: -1px;
    padding: 0px;
    border: 0;
    appearance: none;
}

#toggle-mode {
    position: absolute;
    right: 3.2rem;
    top: 3.2rem;
    font-size: 3.2rem;
    line-height: 0;

    color: var(--text-color);
    cursor: pointer;
    border: none;
    background-color: transparent;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
    width: 100vw;
    color: var(--text-color);
    gap: 15%;
    background-color: var(--bg-color);

}


.timer-box{
    display: flex;
    flex-direction: column;
}

.timer {
    font-size: 12.6rem;
    display: flex;
    
}

.controls {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

.timer-box button {
    border: none;
    background-color: transparent;
    font-size: 5rem;
    color: var(--text-color);
    cursor: pointer;

}

.timer-box button:hover{
    color: var(--bg-hover-card);
} 

.cards {
    display: grid;
    grid-template-columns: 140px 140px;
    gap: 32px;
}

.card {
    width: 140px;
    height: 150px;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-card-color);
    border-radius: 24px;
    cursor: pointer;
}

.card:hover {
    background-color: var(--bg-hover-card);
}

.card:hover path {
    fill: var(--text-hover-card-color);
  }

  .actived svg > path {
    fill: var(--text-hover-card-color);
  }

  .actived {
    background-color: var(--bg-hover-card);
  }